language: php

cache:
  directories:
    - ~/.composer/cache

sudo: false

matrix:
  include:
    - php: 5.6
      env: LARAVEL=5.0
      dist: xenial
    - php: 5.6
      env: LARAVEL=5.1
      dist: xenial
    - php: 5.6
      env: LARAVEL=5.2
      dist: xenial
    - php: 5.6
      env: LARAVEL=5.3
      dist: xenial
    - php: 5.6
      env: LARAVEL=5.4
      dist: xenial
    - php: 7.0
      env: LARAVEL=5.0
      dist: xenial
    - php: 7.0
      env: LARAVEL=5.1
      dist: xenial
    - php: 7.0
      env: LARAVEL=5.2
      dist: xenial
    - php: 7.0
      env: LARAVEL=5.3
      dist: xenial
    - php: 7.0
      env: LARAVEL=5.4
      dist: xenial
    - php: 7.0
      env: LARAVEL=5.5
      dist: xenial
    - php: 7.1
      env: LARAVEL=5.0
      dist: xenial
    - php: 7.1
      env: LARAVEL=5.1
      dist: xenial
    - php: 7.1
      env: LARAVEL=5.2
      dist: xenial
    - php: 7.1
      env: LARAVEL=5.3
      dist: xenial
    - php: 7.1
      env: LARAVEL=5.4
      dist: xenial
    - php: 7.1
      env: LARAVEL=5.5
      dist: xenial
    - php: 7.1
      env: LARAVEL=5.6
      dist: xenial
    - php: 7.1
      env: LARAVEL=5.7
      dist: xenial
    - php: 7.1
      env: LARAVEL=5.8
      dist: xenial
    - php: 7.2
      env: LARAVEL=5.0
    - php: 7.2
      env: LARAVEL=5.1
    - php: 7.2
      env: LARAVEL=5.2
    - php: 7.2
      env: LARAVEL=5.3
    - php: 7.2
      env: LARAVEL=5.4
    - php: 7.2
      env: LARAVEL=5.5
    - php: 7.2
      env: LARAVEL=5.6
    - php: 7.2
      env: LARAVEL=5.7
    - php: 7.2
      env: LARAVEL=5.8
    - php: 7.2
      env: LARAVEL=6.0
    - php: 7.2
      env: LARAVEL=7.0
    - php: 7.3
      env: LARAVEL=5.0
    - php: 7.3
      env: LARAVEL=5.1
    - php: 7.3
      env: LARAVEL=5.2
    - php: 7.3
      env: LARAVEL=5.3
    - php: 7.3
      env: LARAVEL=5.4
    - php: 7.3
      env: LARAVEL=5.5
    - php: 7.3
      env: LARAVEL=5.6
    - php: 7.3
      env: LARAVEL=5.7
    - php: 7.3
      env: LARAVEL=5.8
    - php: 7.3
      env: LARAVEL=6.0
    - php: 7.3
      env: LARAVEL=7.0
    - php: 7.3
      env: LARAVEL=8.0
    - php: 7.4
      env: LARAVEL=5.0
    - php: 7.4
      env: LARAVEL=5.1
    - php: 7.4
      env: LARAVEL=5.2
    - php: 7.4
      env: LARAVEL=5.3
    - php: 7.4
      env: LARAVEL=5.4
    - php: 7.4
      env: LARAVEL=5.5
    - php: 7.4
      env: LARAVEL=5.6
    - php: 7.4
      env: LARAVEL=5.7
    - php: 7.4
      env: LARAVEL=5.8
    - php: 7.4
      env: LARAVEL=6.0
    - php: 7.4
      env: LARAVEL=7.0
    - php: 7.4
      env: LARAVEL=8.0


before_script:
  - COMPOSER_MEMORY_LIMIT=-1 composer require "illuminate/database ${LARAVEL}.*"
  - COMPOSER_MEMORY_LIMIT=-1 composer update --no-interaction

script:
  - vendor/bin/phpunit

after_script:
  - php vendor/bin/php-coveralls --verbose
